*{
  margin: 0;
  padding: 0;
}


.container-header{
  text-align: center;
  margin-top: 50px;
}
.container-header p{
  display: inline-block;
  font-size: 25px;
  color: black;
  font-weight: lighter;
  margin-right: 10px;
  transform: rotate(-90deg);
}
.container-header h1{
  display: inline-block;
  font-weight: bolder;
  color: black;
  font-size: 40px;
}
.nav{
  margin-top:5px;
  display: flex;
  justify-content: space-evenly;
}
.nav ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav ul li{
  margin: 10px 60px;
  text-decoration: none;
  color: black;
}

.nav ul li:hover{
  font-size: 1.2rem;
  transition: all 0.2 ease-in-out;
}

@media only screen and (max-width:1000px) and (min-width:761px) {
  .nav ul li{
    margin: 10px 30px;
  }
}
@media only screen and (max-width:761px) and (min-width:300px) {
  .nav{
    display: none;
  }
}